/**
 * ============================
 * Commons — Social Links
 * ============================
 */

.nova-footer-commons-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
